body {
    display: flex;
    flex-direction: column;
    padding: 0px;
    margin: 0px;
    font-family: 'Roboto';
}
/* intro Section */
.intro {
    display: flex;
    flex-direction: column;
    flex-basis: 500px; 
    background-color: #1F2937;
    /* setting some side paddings */
    /* padding: 0 100px;  */
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    font-size: 24px;
}

.header .logo img {
    width: 150px;
    height: auto;
    max-width: 100%;
    border-radius: 15px;
}

nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-size: 16px;
    font-weight: bold;
    transition: color 0.3s ease;
}


.hero-subsection {
    display: flex;
    text-align: center;
    padding: 40px 20px;
    justify-content: start;
    gap: 15px;

}
.question {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
    margin: 0;
    padding: 0;
}
.answer{
    font-size: 18px;
    color: #F9FAF8;
    font-weight:0;
    margin-top: 0;
}

.hero-subsection img {
    width: 30%;
    max-width: 300px;
    height: auto;
    margin-bottom: 20px;
    border-radius: 10px;
}

.brief {
    font-size: 18px;
    line-height: 1.6;
    color: white;
    max-width: 800px;
    margin: 0 auto;
    text-align: start;
}

.brief button {
    background-color: #007BFF;
    color: white;
    font-size: 16px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s, transform 0.2s;
}

.types-subsection{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
    padding: 0 40px; 
    flex-wrap: wrap;

}
.types-subsection ul {
    display: flex;
    list-style: none;
    padding: 0;
}

.types-subsection .card {
    margin: 10px;
    /* border: 1px solid #ccc; */
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    font-size: 22px;
    /* color: #F9FAF8; */
    font-weight:0;
    
}

.types-subsection ul li img {
    max-width: 300px;
    height: auto;
    margin-bottom: 5px;
    border: 3px solid hsl(229, 84%, 37%); 
    border-radius: 10px;
}

/* quote section */
.quote-section {
    display: flex;
    flex-direction: column;
    justify-content: center;   
    background-color: #E5E7EB;
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
    /* padding: 20px */    padding: 0 40px; 

    margin-bottom:20px;
  }
  
  .author {
    text-align: end;
    font-weight: bold;
  }

  /* styling of add section */
  .ad-section{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
    margin-bottom: 20px;
  }

.ad-card{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
    background-color:#3882F6;
    border-radius: 15px;
}

.ad-card button{
    background-color:#3882F6;
    color: white;
    font-size: 16px;
    padding: 10px 20px;
    border: 2px solid white;
    border-radius: 5px;
}

.text{
    color: white;
    font-size: 13px;
    padding: 10px;
    /* border: none; */
    margin: 0;
    border-color: white;
    font-weight: 200;
    border-radius: 5px;
    transition: background-color 0.3s, transform 0.2s;
    
}
.bold-question{
    font-weight: 700;
    font-size: 20px;
}
  /* styling of copyrights section */
.copyright-section{
    background-color: #1F2937;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto';
}
