body {
    display: flex;
    flex-direction: column;
    padding: 0px;
    margin: 0px;
    font-size: 26px;
    font-family: 'Roboto';
}

/* intro Section */
.intro {
    display: flex;
    flex-direction: column;
    flex-basis: 500px; 
    background-color: #1F2937;
    padding: 0 20px 20px 20px ; 
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    font-size: 24px;
}

/* Logo Styling */
.header .logo img {
    width: 150px;
    height: auto;
    max-width: 100%;
}

/* Navigation Styling */
nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-size: 16px;
    font-weight: bold;
    transition: color 0.3s ease;
}


.hero-subsection {
    display: flex;
    text-align: center;
    padding: 40px 20px;
    justify-content: start;
    gap: 15px;
}

.hero-subsection img {
    width: 30%;
    max-width: 300px;
    height: auto;
    margin-bottom: 20px;
    border-radius: 10px;
}

.brief {
    font-size: 18px;
    line-height: 1.6;
    color: white;
    max-width: 800px;
    margin: 0 auto;
    text-align: start;
}

.brief button {
    background-color: #007BFF;
    color: white;
    font-size: 16px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s, transform 0.2s;
}

.types-subsection{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
}
.types-subsection ul {
    display: flex;
    list-style: none;
    padding: 0;
}

.types-subsection .card {
    margin: 10px;
    /* border: 1px solid #ccc; */
    padding: 10px;
    border-radius: 5px;
    text-align: center;
}

.types-subsection ul li img {
    max-width: 300px;
    height: auto;
    margin-bottom: 5px;
    border: 3px solid hsl(229, 84%, 37%); 
    border-radius: 10px;
}

/* quote section */
.quote-section {
    display: flex;
    flex-direction: column;
    justify-content: center;   
    background-color: #E5E7EB;
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
    padding: 20px;
    margin-bottom:20px;
  }
  
  .author {
    text-align: end;
    font-weight: bold;
  }

  /* styling of add section */
  .ad-section{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
  }

.ad-card{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
    background-color:#3882F6;
    border-radius: 15px;
}

.ad-card button{
    background-color:#3882F6;
    color: white;
    font-size: 16px;
    padding: 10px 20px;
    /* border: none; */
    border-color: white;
    border-radius: 5px;
    transition: background-color 0.3s, transform 0.2s;
}

.ad-card p{
    color: white;
    font-size: 16px;
    padding: 10px 20px;
    /* border: none; */
    border-color: white;
    border-radius: 5px;
    transition: background-color 0.3s, transform 0.2s;
}